<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="https://glitch.com/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rememo</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  
  <body>
    <h1 class="title">Rememo</h1>
    <div class="wrapper">
      <div role="main">
        <section class="instructions">
          <h1>How to use Rememo for reminiscence therapy</h1>
          <ol>
            <li>Guide the senior to think of a fond memory and select the cards that describe it. If the senior shares more details, you may write them down on the Wildcard or type it in. </li>
            <li>Take a photo of your chosen cards using the camera button.</li>
            <li>Select your desired AI engine (SDXL or Flux.1). SDXL is faster but not trained on local context while Flux.1 is slower and finetuned on a small dataset of local images.</li>
            <li>Click the <strong>Generate!</strong> button.</li>
            <li>Wait for the cards to be read via Optical Character Recognition (OCR) and AI image to be generated.</li>
            <li>You may save or print out the generated image when you're done.</li>
          </ol>
          
          <p>If you have any questions or feedback, please reach out to Celeste (celestes@nus.edu.sg). Happy reminiscing!</p>
        </section>
        <br>
        <a href="/" class="info-button">Back to Home</a>
      </div>
    </div>
  </body>
</html>
